/*#nav-2 ~ .md-nav .md-nav__item.md-nav__item--section.md-nav__item--nested {*/
/*  margin: 0;*/
/*}*/

/*@keyframes tx-heart {*/
/*  0%,*/
/*  40%,*/
/*  80%,*/
/*  100% {*/
/*    transform: scale(1);*/
/*  }*/
/**/
/*  20%,*/
/*  60% {*/
/*    transform: scale(1.15);*/
/*  }*/
/*}*/

/*.tx-heart {*/
/*  animation: tx-heart 1000ms infinite;*/
/*}*/

/*.tx-insiders {*/
/*  color: #e91e63 !important;*/
/*}*/


.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.about-image {
  width: 100%;
}

@media (min-width: 501px) {
  .about-image {
    width: 50%;
  }
}

@media (min-width: 800px) {
  .about-image {
    width: 42%;
  }
}
